

/* !REMINDER! I will seperate every css to its own section for better order. And with that it's easier to look at the code for you :)*/

.container{
    position: absolute;
    top: 25%; left: 50%;
    transform: translate(-50%,-50%);
    width: 520px; 
    padding: 30px;
    border: 5px solid #2b2b2b;
    border-radius: 15px;
    overflow: hidden;
}

.container p{
    position: relative;
    z-index: 2;
    font-family: 'DM Mono', monospace;
    font-size: 38px;
    line-height: 39px;
    text-align: center;
    color: #fff;
}

#progression {
    user-select: none;
}

#type-animation {
    user-select: none;
}

.sidebar {
    user-select: none;
}

#about {
    user-select: none;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container:before{
    content: "";
    position: absolute;
    width: 700px;
    height: 700px;
    top: -125%; left: -19%;
    transform: translate(-50%,-50%);
    background: conic-gradient(
    #e100ff, #823cf1, #6a4bf6,
    #c300ff, #d633ff, #9011ff,
    #3925f3, #e100ff );
    border-radius: 50%;
    z-index: 0S;
    animation: spin 2s linear infinite;
}

.container:after{
    content: "";
    position: absolute;
    width: 93%;
    height: 89%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #141414;
    border-radius: 10px;
    z-index: 1;
}

@keyframes spin{
    to { transform: translate(-50%,-50%) rotate(360deg); }
}

.main-content img {
    position: relative;
}

.low-poly-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 700px;
    margin-bottom: 427px;
}

.low-poly-svg img {
    position: absolute;
    width: 100%;
    box-shadow: 0 0 300px #623EBB;
    margin-top: 200px;
    margin-bottom: 200px;
    z-index: 1;
}

.msg-box-outer {
    width: 1600px;
    height: 800px;
    position: absolute;
    background-color: rgb(19, 19, 19);
    z-index: 1;
    box-shadow: inset 0 0 20px 5px #623EBB, 0 0 10px 5px #944db1;
    opacity: 0.85
  }

.msg-box-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1450px;
    height: 0px;
    z-index: 2;
}

.msg-box-inner p {
    display: flex;
    z-index: 2;
}

.msg-from {
    background-color: #8f57a8;
    margin-bottom: 20px;
    border-radius: 17px;
    padding: 10px;
    display: flex;
    font-family: 'DM Mono' , monospace;
    color: #fff;
    max-width: 900px;
    font-size: 28px;
    line-height: 33px;
    z-index: 2;
    margin-right: auto;
    transition: 0.3s ease-in-out;
}

.msg-from:hover {
    box-shadow: 0px 0px 30px #8f57a8;
    transform:scale(1.1);
}

.msg-by-me {
    background-color:#7266da;
    border-radius: 17px;
    padding: 8px;
    display: flex;
    text-align: right;
    font-family: 'DM Mono' , monospace;
    color: #fff;
    max-width: 800px;
    font-size: 25px;
    line-height: 33px;
    z-index: 2;
    margin-left: auto;
    transition: 0.3s ease-in-out;
}

.msg-by-me:hover {
    box-shadow: 0px 0px 30px #7266da;
    transform: scale(1.1);
}

.stacked-peaks {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: left;
    z-index: 5;
    height: 680px;
    user-select: none;
}

.stacked-peaks img { 
  position: absolute; 
  width: 100%; 
  z-index: 0;
}

.container-me.section {
    position: relative; 
    background-color: #ff0000; 
    z-index: 2; 
    height: 200px; 
    width: 200px; 
    position: absolute;
    margin-left: 200px;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');



.card-container {
    position: relative;
	background-color: #362354;
	border-radius: 5px;
	box-shadow: 0px 0px 50px 5px rgba(7, 7, 7, 0.75);
	color: #ffffff;
	width: 600px;
    height: 630px;
	text-align: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 30px;
    opacity: 82%;
    margin-left: 20px;
    z-index: 1;
    transition: 0.5s;
}

.card-container h1{
    font-family: 'Pixelify Sans';
    font-size: 50px;
    line-height: 32px;
    color: #0dffeb;
}

.card-container h2{
    font-family: 'DM Mono' , monospace;
    font-size: 20px;
    line-height: 10px;
    opacity: 75%;
}

.card-container div p-head {
    font-family: 'Pixelify Sans';
    font-size: 25px;
    color: #0dffeb;
}

.card-container-right {
    height: 120px;
    width: 330px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 40px;
    text-align: right;
    align-items: center;
}

.card-img {
    height: 120px;
    width: 120px;
    position: absolute;
    margin-right: 520px;
    margin-top: -4px;
    border-radius: 40%;
}

.card-img img{
    margin-left: -110px;
    transform: scale(1.15);
    border-radius: 30%;
    border: 4px solid #fff;
    opacity: 100%;
}

.card-container div p{
    font-family: 'DM Mono' , monospace;
    font-size: 20px;
    text-align: right;
    line-height: 24px;
    width: 300px;
    margin-top: 20px;
}

.card-container:hover {
    background-color: #732fac;
    box-shadow: 0px 0px 20px #943adf;
    border: 6px solid #943adf;
}

.card-container:active {
    transform: scale(1.03);
}

.container-hobbies {
    height: 330px;
    width: 570px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

.container-hobbies hr {
    position: absolute;
    width: 425px;
    margin-bottom: 330px;
}

.seperation-card-line {
    border-top: 8px solid #ffffff;
    border-radius: 5px;
    width: 300px;
}

.container-hobbies h3 {
    font-size: 40px;
    font-family: 'Pixelify Sans';
    font-weight: lighter;
    color: #0dffeb;
}

.container-hobbies n {
    font-size: 20px;
    font-family: 'DM Mono' , monospace;
    line-height: 28px;
}

.projects-frame {
    width: 1200px;
    max-width: 100%;
    margin: 20px auto;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 10px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 550px);
    grid-template-rows: repeat(2, 309px);
    gap: 20px;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: max-content;
    z-index: 2;
}

.project-container span {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 309px;
    width: 550px;
    background-color: #362354;
    border-radius: 35px;
    box-shadow: 0 0 50px 5px rgba(7, 7, 7, 0.55);
    opacity: 82%;
    z-index: 3;
    transition: 0.5s;
    cursor: pointer;
}

.project-container h1 {
    font-family: 'Pixelify Sans';
    font-size: 35px;
    color: #0dffeb;
    text-align: center;
    line-height: 20px;
    margin-top: 20px;
}

.project-container h4 {
    color: #0dffeb;
    font-size: 35px;
    text-align: center;
    font-family: 'Pixelify Sans';
}

.project-container p {
    font-family: 'DM Mono' , monospace;
    color: #fff;
    font-size: 20px;
    width: 500px;
    text-align: center;
    margin-bottom: 60px;
    line-height: 30px;
}

.project-container img.aegiscrypt {
    width: 260px;
    margin-top: -50px;
    position: relative;
}

.project-container img.numberguesser {
    width: 360px;
    margin-top: -50px;
    position: relative;
}

.numberguesser {
    border: 3px solid #0dffeb;
    border-radius: 29px;
}   

.aegiscrypt {
    border: 3px solid #0dffeb;
    border-radius: 29px;
}

.project-container text {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: 'DM Mono' , monospace;
}

.project-container pre{
    font-family: 'DM Mono' , monospace;
    font-size: 14px;
    text-align: left;
    line-height: 22px;
}

.project-container span:hover {
    background-color: #732fac;
    box-shadow: 0 0 20px #943adf;
    border: 6px solid #943adf;
}

.project-container span:active {
    transform: scale(1.03);
}


.code-block pre::-webkit-scrollbar {
  height: 10px;
  margin-top: 20px;
}

.code-block pre::-webkit-scrollbar-track {
  background: #2b1a44;
  border-radius: 9999px;
}

.code-block pre::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg,#6a4bf6,#9c48e0);
  border-radius: 9999px;      
  box-shadow: 0 0 10px #9c48e0;
}

.code-block { 
    color: #f8f8f2;
    border-radius: 10px;
    padding: 10px;
    width: 450px;
  }
  
  .code-block pre {
    margin: 0;
    overflow-x: auto;
    font-size: 19px;
    line-height: 24px;
    padding-bottom: 20px;
  }

  .code-block b {
    color: #bd6dff;
    font-family: 'Pixelify Sans';
    font-weight: lighter;
  }

  .code-block a{
    color: #bd6dff;
    font-family: 'Pixelify Sans';
    font-weight: lighter;
    transition: 0.2s;
  }

  .code-block a:hover{
    font-size: 20px;
  }
  
  .code-block b:nth-of-type(2),
  .code-block b:nth-of-type(4) {
    color: #674cff; 
  }
  
  .code-block b:nth-of-type(3),
  .code-block b:nth-of-type(6),
  .code-block b:nth-of-type(8) {
    color: #0dffeb;
  }
  
.blob-scene {
    z-index: 0;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.blob-scene-pic {
    margin-top: -150px;
    width: 100%;
    z-index: 0;
    position: relative;
}

.span-right {
    border: 6px solid #943adf;
    box-shadow: 0px 0px 20px #943adf;
    max-width: 700px;
    max-height: 310px;
    margin-top: 100px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    color: #fff;
    margin-left: 700px;
    border-radius: 20px;
    background-color: #732FAC;
    padding: 20px;
    font-family: 'IBM Plex Mono';
    font-size: 30px;
    line-height: 35px;
    transition: 0.5s;
}

.span-left {
    border: 6px solid #943adf;
    box-shadow: 0px 0px 20px #943adf;
    max-width: 700px;
    margin-top: 300px;
    margin-right: 800px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    color: #fff;
    border-radius: 20px;
    background-color: #732FAC;
    padding: 20px;
    font-family: 'IBM Plex Mono';
    font-size: 30px;
    line-height: 35px;
    transition: 0.5s;
}

.span-right:hover {
    transform: scale(1.05);
}

.span-left:hover {
    transform: scale(1.05);
}

.span-right h1:hover {
    transform: scale(1.1);
    color: #d8a3e6;
    font-weight: bolder;
}

.span-left h1:hover {
    transform: scale(1.1);
    color: #d8a3e6;
    font-weight: bolder;
}

.span-right h1 {
    font-family: 'IBM Plex Mono';
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    transition: 0.35s;
}

.span-right p {
    font-family: 'IBM Plex Mono';
    font-size: 24px;
    line-height: 35px;
    text-align: center;
}

.span-left h1 {
    font-family: 'IBM Plex Mono';
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    transition: 0.35s;
}

.span-left p {
    font-family: 'IBM Plex Mono';
    font-size: 24px;
    line-height: 35px;
    text-align: center;
}

.contact-section {
    height: 700px;
    margin-top: 200px;
    background: rgb(135,35,153);
    background: linear-gradient(0deg, rgba(135,35,153,1) 0%, rgba(126,44,156,1) 10%, rgba(115,22,156,1) 26%, rgba(78,5,122,1) 52%, rgba(20,20,20,1) 100%);
}

hr.rounded {
    border-top: 8px solid #ffffff;
    border-radius: 5px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section h1 {
    color: #fff;
    font-family: 'Pixelify Sans';
    font-size: 72px;
}

.foot-content {
    width: 1700px;
    min-height: 500px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cnt-email {
    padding-top: 5px;
}

.cnt-email p {
    font-family: 'IBM Plex Mono';
    color: #fff;
    text-align: center;
    line-height: 55px;
    font-size: 24px;
}

.cnt-application {
    background-color:#732FAC;
    padding: 9px;
    border-radius: 20px;
    box-shadow: 0 0 50px #8636c7;
    transition: ease 0.4s;
}

.cnt-application:hover {
    transform: scale(1.15);
    color: #bebebe;
}

.foot-content span {
    padding: 9px;
    border-radius: 70px;
    box-shadow: 0 0 50px #9c48e0;
    transition: ease 0.4s;
    width: 1620px;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.github-icon {
    width: 97px;
    margin-bottom: 40px;
    transition: ease 0.3s;
}

.github-icon:hover {
    transform: scale(1.3);
}

.bottom-info {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.bottom-info p {
    color: #fff;
    font-family: 'IBM Plex Mono';
    font-size: 30px;
}

.bottom-left {
    position: center;
}

.contrainer-feet {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.build-version {
    position: relative;
    z-index: 3;
    color: #fff;
    margin-top: 14px;
    font-size: 24px;
    transition: 0.2s ease-in-out;
}

.build-version:hover {
    color: #d1d1d1;
    transform: scale(1.1);
}

window.scrollTo {
    top: 500;
}